body {
    font-family: Arial, sans-serif;
    background: #000000;
    margin: 0 px;
    padding: 20px;
}

.container {
    display: flex;
    background-color: beige;
    gap: 20px;
}

.left-page, .right-page {
    background-image: radial-gradient(#fff8db, #fae38c);
    padding: 20px;
    flex: 1;
    border:4px solid(#fff8db, #fae38c); 
    border-radius: 8px;
    box-shadow: 1 1 10px rgba(0,0,0,0.9);
}

form {
    margin-bottom: 15px;
    padding: 1px;
}

.form-group {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-group label {
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
}

.form-group input {
    padding: 6px 8px;
    font-size: 14px;
}

button {
  color: #000000;
  background-image: linear-gradient(#d0b200, #a58d00);
  width: 130px;
  height: 45px;
  border-width: 0;
  border-radius: 8px;
  margin-right: 10px;
  text-align: center;
  border:transparent;
  
  font-size: 14px;
  font-weight: bold;
}

#taskList {
    list-style: none;
    padding-left: 0;
    font-size: 15px;
    color: #183b56;
    font-weight: bold;
    
}

#taskList li {
    margin-bottom: 4px;
}

.task-card {
    padding: 10px;
    border: 1px solid #ccc;
    background: #fafafa;
    margin-bottom: 10px;
    border-radius: 6px;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

h3{
    font-size: bold;
    font-family: 'Roboto', sans-serif;
}